@charset "utf-8";
/* bl-bookmarks */
.seesaaBookmarks{
    margin: 0 10px 10px;
    width: 90px;
    height:20px !important;
    cursor:pointer;
}
.seesaaBookmarks img {
  	left: 0;
}
.bookmark{
  padding-top:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.bookmark:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.bookmark * {
  box-sizing: content-box;
}
* html .bookmark{
  zoom: 1;
} /* IE6 */
*:first-child+html .bookmark{
  zoom: 1;
} /* IE7 */


.bookmark div iframe{
    margin-bottom:5px;
}
.bookmark .hatenaHeightBookmark iframe{
    padding-right:0px;
}
.bookmark div a{
    vertical-align:top;
    padding-right:3px;
    text-decoration:none ! important;
}
.bookmark div a img{
    vertical-align:top;
}
.bookmark div div{
    vertical-align:top !important;
}

#balloonBox {
    display:none;
    width:270px;
    position: absolute;
    top:0px;
    left:-270px;
    z-index:1000;
    padding: 10px 10px 5px 10px;
    margin: 1em 0 3em;
    border:solid 2px #dfdfdf;
    text-align: left;
    color: #333333;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#balloonClose {
    line-height:1;
    font-size:14px;
    position: absolute;
    top:-5px;
    right:-5px;
    width:18px;
    height:18px;
    text-decoration:none;
    text-indent:-3000em;
    overflow:hidden;
    cursor:pointer;
    background-image:url(/img/bookmark/close.png);
    background-repeat:no-repeat;
}
.sns_box {
    line-height:1;
    margin: 0 10px!important;
    padding-bottom:10px;
}
.facebookBookmark .fb-like{
    padding-top:0px ! important;
    margin-top:0px ! important;
}

/* hack app */

body {
  -webkit-text-size-adjust: 100%;
}

/* android-app */
.android-app-photo {
  margin: 10px 0;
}

.android-app-photo:before,
.android-app-photo:after {
  content:"";
  display:table;
}

.android-app-photo:after {
  clear: both;
}

.android-app-photo ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.android-app-photo li {
  float: left;
  width: 33%;
  width: 32.5%\9;
  max-height: 150px;
  margin: 0 0.5% 3px 0;
  margin: 0 0.3% 3px\9;
  box-sizing: border-box;
  list-style: none outside none;
  overflow: hidden;
}

:root .android-app-photo li {
  width: 33%; ;
  margin: 0 0.5% 3px 0;;
}

.android-app-photo li:nth-child(3n+1) {
  margin-right: 0;
}

.android-app-photo li:first-child {
  float: none;
  width: 100%;
  max-height: 400px;
  *margin-bottom: 0;
  overflow: hidden;
}

.android-app-photo li img {
  width: 180%;
  box-sizing: border-box;
}

.android-app-photo li:first-child img {
  width: 100%;
}

/* article preview */
#seesaa-article-preview {
  position: fixed;
  min-width: 240px;
  max-width: 300px;
  max-height: 700px;
  overflow-y: auto;
  padding: 10px 10px 15px 10px;
  background: rgba(22,22,25,.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  top: 15px;
  right: 15px;
  z-index: 5;
  border-radius: 4px;
}

#seesaa-article-preview p {
  margin: 0 0 6px;
  text-align: left;
  line-height: 1.4;
}

#seesaa-article-preview-table {
  margin: 10px 0 0 0;
  font-size: 11px;
  border-collapse: collapse;
  background: rgba(0,0,0,.4);
}

#seesaa-article-preview-table th,
#seesaa-article-preview-table td {
  padding: 4px 8px;
  border-top: 0;
  border-left: 0;
  border-bottom: 1px dotted rgba(255,255,255,.15);
}

#seesaa-article-preview-table th {
  white-space: nowrap;
  border-right: 1px dotted rgba(255,255,255,.15);
}

#seesaa-article-preview-table td {
  text-align: left;
  word-break: break-all;
  line-height: 1.3;
}

#seesaa-article-preview-table tr:last-of-type th,
#seesaa-article-preview-table tr:last-of-type td {
  border-bottom: none;
}

#seesaa-article-setting {
  background: transparent;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  padding: 8px;
  border: 1px solid rgba(255,255,255,.3);
}

#seesaa-article-setting:after {
  content: "▼";
  display: block;
  float: right;
  color: #CCC;
}

#seesaa-article-setting.open:after {
  content: "▲";
}


#seesaa-article-setting:hover {
  background: rgba(255, 255, 255, 0.2);
}

#seesaa-article-preview-close {
  background: transparent;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid rgba(255,255,255,.3);
}

#seesaa-article-preview-close:hover {
  background: rgba(255, 255, 255, 0.2);
}

img.emoji {
    margin: 0px 1px -2px 1px;
    vertical-align: baseline;
}